numpy 
ipython 
scipy 
astropy
git+https://github.com/FRBs/pygedm
dash 
dash-bootstrap-components 
pandas 
xarray 
spectra 
tinycss2 
gunicorn 
Pillow 
requests
h5py --no-binary=h5py
git+https://github.com/plotly/dash-labs