# This workflows will upload a Python Package to PyPi

name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest

    permissions:
      id-token: write  # required for PyPI Trusted Publisher (OIDC)

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gfortran build-essential git f2c pkg-config libhdf5-dev -y
          python -m pip install --upgrade pip
          pip install setuptools wheel
      - name: Build sdist
        run: pipx run build --sdist

      - uses: pypa/gh-action-pypi-publish@release/v1
